html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#fff;
  background:#000;
  height:100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
  line-height:1.2;
}

A:link {text-decoration:none; color:#a0a0ff; }
A:visited {text-decoration:none; color:#a0a0ff; }
A:active {text-decoration:none; color:#a0a0ff; }
A:hover {text-decoration:underline; color:#0000ee; }

#pageouterdiv { }
#pageinnerdiv { padding:0px 10px; }

#namediv { font-family:"Lato", sans-serif; font-size:24px; 
  font-weight:bold; letter-spacing:0.1em; 
  padding:10px 0px 0px; transition:all 1.2s ease-out; }

#menulinksdiv { font-family:"Quicksand", sans-serif; font-size:large; 
  padding:10px 0px; }
#menulinksdiv div { margin-left:20px; }

#contentdiv { font-size:medium; }

.secpicdiv { margin-bottom:5px; }

.sectionclosediv { max-width:300px; text-align:center; }

.idximg { max-width:250px; vertical-align:middle; }
.dispimg { max-width:300px; vertical-align:middle; 
  border:1px solid #222; margin:0px 10px 10px 0px; }
.fullimg { width:100%; }

.arrowspanleft { padding-right:10px; }
.arrowspanright { padding-left:10px; }

