html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../img/sitebg.png');
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
  line-height:1.2;
}

A:link {text-decoration:none; color:#803c00; }
A:visited {text-decoration:none; color:#803c00; }
A:active {text-decoration:none; color:#803c00; }
A:hover {text-decoration:underline; color:#ec6e00; }

#namediv { position:absolute; left:0px; top:0px; padding:10px; display:table;
  font-family:"Boogaloo", sans-serif; font-size:24px; font-weight:bold; 
  letter-spacing:0.1em; text-shadow: 2px 2px 4px #666;
  margin-left:-800px; transition:all 1.2s ease-out; }

#maildiv { position:absolute; right:10px; top:60px; 
  transform:rotate(90deg);
  margin-right:-100px; transition:all 0.4s ease-out; }
#maildiv img { max-width:50px; max-height:50px; }

#instdiv { position:absolute; right:10px; top:120px; 
  transform:rotate(90deg);
  margin-right:-100px; transition:all 0.4s ease-out; }
#instdiv img { max-width:50px; max-height:50px; }
           
